@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,400;0,800;1,100;1,200;1,400;1,800&family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
:root {
  --sans-font: 'Overpass', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: var(--sans-font);
}
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
